* {box-sizing: border-box}
.register{
  display:flex;
  justify-content: center;
}

.container {
  padding: 16px;
}

input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

* {box-sizing: border-box;}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}


.input-field {
  width: 80%;
  padding: 10px;
  outline: none;
}

.input-field {
  border: 2px solid dodgerblue;
}

.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
ol{
    display:flex;
    justify-content:space-around;
    flex-direction: row;
    margin: 15px;
    font-size: 15px;
    list-style-type: none;

}
#page{
    background-image: url( https://wallpapercave.com/wp/khYO5nU.jpg);
    margin-bottom: -22px;
}
.content{
    margin-top: 0px;
    background-image: url(https://rare-gallery.com/thumbs/1169822-sunlight-abstract-red-green-texture-circle-atmosphere-lens-flare-pink-light-color-shape-line-petal-computer-wallpaper-close-up-macro-photography.jpg) 
}
.pagination{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.page-item{
    padding: 5px;
}
.user-profile{
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    border: 5px;
}
img{
    border-radius: 50%;
    
}
img:hover{
    width:100px;
}
