div {
    background-color: red;
    color: white;
    font-size: 32px;
    padding-left: 20px;
    padding-right: 20px;
    font-style: bold;
    text-align: center;
}
p {
background-color: green;
color: white;
font-size: 18px;
}
button {
    background-color: orange;
    font-style: bold;
    font-size :18px;
}